<div id="app_top">
  <div id="header">
    <div id="header_top_menu">
      <div id="container_left_menu" class="topNav" >

        <%= link_to "Medistrano", "http://medistrano.vpc.com", :onMouseover => "ShowTipTop('phantomline_medistrano'); return true;", :onMouseout => "HideTipTop('phantomline_medistrano'); return true;" %>
        <div id="phantomline_medistrano" class="tiptop">Deployment Interface</div>

        &nbsp;&nbsp;/&nbsp;&nbsp;
                
        <%= link_to 'CruiseControl', "http://cruise.vpc.com", :onMouseover => "ShowTipTop('phantomline_cruise'); return true;", :onMouseout => "HideTipTop('phantomline_cruise'); return true;" %>
        <div id="phantomline_cruise" class="tiptop">Continous Integration</div>
        
        &nbsp;&nbsp;/&nbsp;&nbsp;

        <%= link_to 'Columbo', "http://columbo.vpc.com", :onMouseover => "ShowTipTop('phantomline_columbo'); return true;", :onMouseout => "HideTipTop('phantomline_columbo'); return true;" %>
        <div id="phantomline_columbo" class="tiptop">Validation Portal</div>
      </div>
      <div id="container_right_menu" class="topNav">
        <%= link_to_unless_current 'Dashboard', :controller => 'projects', :action => 'index' %> 
      </div>		
  </div>	
</div>	









<!--
  <div class="cc_logo">
    <%= link_to image_tag("cruise_logo.png"), Configuration.default_page %>
  </div>    
  <% unless flash[:notice].blank? -%>
    <div class="flash_notice"><%= h flash[:notice] %></div>
  <% end -%>
-->
