
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="CruiseControl / iMedidata styled" />
  <meta name="keywords" content="rubyonrails ruby rails capistrano deployment" />
 <% if @autorefresh %>
    <meta http-equiv="refresh" content="5">
    <meta http-equiv="cache-control" content="no-cache">
  <% end %>


  <title>CruiseControl</title>

  <link rel="shortcut icon" href="/favicon.ico"></link>
  <link href="http://medistrano.imedidata.net/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag :defaults %>
  
  <link href="/stylesheets/cruisecontrol.css" media="all" rel="stylesheet" type="text/css" />
  
        
       
 <script type="text/javascript">
 
   function show_effective_config(){
     $('h_e_c').show();
     $('s_e_c').hide();
     $('effective_config').show();
   }
    
   function hide_effective_config(){
      $('h_e_c').hide();
      $('s_e_c').show();
      $('effective_config').hide();
    }
 </script>
  

</head>


<body>
  <div id="app_top">
  <div id="header">
     <div id="header_top_menu">
      <div id="container_left_menu" class="topNav" >
        <%= link_to "Medistrano", "http://medistrano.imedidata.net", :onMouseover => "ShowTipTop('phantomline_medistrano'); return true;", :onMouseout => "HideTipTop('phantomline_medistrano'); return true;" %>
        <div id="phantomline_medistrano" class="tiptop">Deployment Interface</div>
        &nbsp;/&nbsp;
        <%= link_to 'Columbo', "http://columbo.imedidata.net", :onMouseover => "ShowTipTop('phantomline_columbo'); return true;", :onMouseout => "HideTipTop('phantomline_columbo'); return true;" %>
        <div id="phantomline_columbo" class="tiptop">Validation Portal</div>
         &nbsp;/&nbsp;
        <%= link_to 'Cruise/Hendriks', "http://medistrano.imedidata.net/cruise", :onMouseover => "ShowTipTop('phantomline_cruise'); return true;", :onMouseout => "HideTipTop('phantomline_cruise'); return true;" %>
        <div id="phantomline_cruise" class="tiptop">Continuous Integration</div> 
        &nbsp;/&nbsp;
        <%= link_to 'Chef-Server', "https://manage.opscode.com", :onMouseover => "ShowTipTop('phantomline_chefserver'); return true;", :onMouseout => "HideTipTop('phantomline_chefserver'); return true;" %>
        <div id="phantomline_chefserver" class="tiptop">Node Configuration</div>
      </div>
      <div class="topLogo">
        <%= image_tag('http://medistrano.imedidata.net/images/MEDIDATA_LOGO_TOP.png', :width => '242', :height => '59') %>
      </div>
    </div>


  </div>
    <div id="main_content">
      
        <div style="width:80px; float:left;">&nbsp;</div>
      
      <div class="content">
        
      <h3 style="color: #999999; ">CruiseControl<i> "Medidata Continous Integration" </i></h3>

          <div id="main_content">
            <%= yield %>
          </div>

      <br />
  
        <div id="footer" >
           Copyright Medidata On-Demand &copy; 2010  / <a href="https://github.com/mdsol/columbo" target="_blank">Columbo on github</a>  
        </div>
        
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div id="app_bottom"></div>


</body>




</html>
